.Happy-monkey{ 
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  background-color: #a2d2ff;
  background: linear-gradient(pink, lightskyblue);
}

 h1 , h2 , h3 , h4 , p{
  text-shadow: 0px 0px 1px black;
}

.photo{
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    border: 6px solid #EFB0C9;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#bday{
  padding: 5px 10px;
  background: #EFB0C9;
  border-radius: 7px;
  border: none;
}

.gift-section{
  margin-top: 50px;
}
.first-gift{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/014/033/464/small/realistic-blue-gift-box-with-ribbon-3d-rendering-icon-on-transparent-background-png.png");
  background-size: cover;
  transition: 0.3s;
}
.first-gift:hover{
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3k3dHQ2dWR3NDFoeDNjdndiemdta2VvbWZsNHJ0MmlkN2wxN2NwcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/31lPv5L3aIvTi/giphy.gif") ;

}
.second-gift{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/014/033/464/small/realistic-blue-gift-box-with-ribbon-3d-rendering-icon-on-transparent-background-png.png");
  background-size: cover;
  transition: 0.3s;
}
.second-gift:hover{
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjFmYTJrdGJyM3V1Z2E1dXlzbm00b3Eyb2wxMHJhMWtycHVmbDRseSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lwXbNSQr4QEtq/giphy.gif");
}
a{
  color: white;
}
/*
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    */